<% cache post do %>
  <li>
    Title: <%= post.title %><br/>
    Comments count: <%= post.comments.count %><br/>
    Description: <p><%= post.description %></p>
    Category: <%= post.category.name %><br/>
    Rating: <%= post.rating %><br/>
    Author ip: <%= post.author_ip %><br/>
    Created at: <%= post.created_at.to_date %><br/>
    <%= link_to 'Show', post %> |
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
