<div id="search_form">
  <%= form_for :find_post, remote: true do |f| %>
    <fieldset>
      <legend>Search</legend>
      <div>
        Rating down: <%= f.select :rating_down, options_for_select((1..5).step(0.5)) %>
                 up: <%= f.select :rating_up,   options_for_select((1..5).step(0.5)) %>
      </div>
      <div>
        Date: <%= f.date_field :date, placeholder: '23.12.2013' %>
      </div>
      <div>
        <%= submit_tag "Find" %> 
      </div>
    </fieldset> 
  <% end %>
</div>
<p id="notice"><%= notice %></p>
<div id='posts'>
</div>