<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Comments count:</strong>
  <%= @post.comments.count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p id='post_rating'>
  <strong>Rating: </strong>
  <%= sprintf('%.2f', @post.rating) %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @post.author.name %>
</p>

<p>
  <strong>Author IP:</strong>
  <%= @post.author.ip %>
</p>

<strong>Comments:</strong>
<% cache @post.comments do %>
  <ul id='comments'>
    <%= render @post.comments %>
  </ul>
<% end %>
<%= link_to 'New comment', new_post_comment_path(@post), remote: true, id: :new_comment %>
<br/>
<br/>

<%= link_to 'Back to posts', posts_path %>
